html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(15, 15, 15);
    font-family: 'Apocalypse', sans-serif;                
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dfdfdf;
}

#title {
    font-size: 70px;
}

#message {
    font-size: 40px;
}

.btn {
    height: 250px;
    width: auto;
    margin: 50px;
}

.btn:hover {
    cursor: pointer;
}

.result-container span {
    display: flex;
}

.result-container span p {
    padding: 10px;
    font-size: 25px;
}
